/* - - - - - FONTS - - - - - */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-regular-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/montserrat-light-webfont.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/montserrat-light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-light-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'MyriadPro-regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MyriadPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MyriadPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MyriadPro-Regular.svg#svgFontName') format('svg');
}

.container {
    max-width: 280px;
    /*max-width: 100%;*/
    width: 100%;
    margin: 0 auto;
    /*padding: 15px;*/
}

*, *::before, *::after {
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1240px;
    }
}





/* - - - - - COLORS - - - - - */

.white-font {
    color: #ffffff;
}

.blue-font {
    color: #006ab4;
}



/* - - - - - HEADER TAGS - - - - - */

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 48px;
    line-height: 72px;
}

h2 {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 48px;
}

h3 {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
}

h4 {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h5 {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 24px;
}

h6 {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
}

a,
a:focus,
a:hover,
a:active,
button {
    text-decoration: none;
    color: rgb(255,255,255);
    outline: none;
}

p {
    font-family: "Montserrat-light", sans-serif;
    font-size: 24px;
    line-height: 36px;
}




/* - - - - - HTML  - - - - - */

html {
    height: 100%;
    width: 100%;
}

body {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("../img/main-bg.png");
    background-size: cover;
    font-family: "Montserrat-light", sans-serif;
    font-size: 20px;
    font-weight: normal;
    overflow-x: hidden;
    /*transition: 500ms ease;*/
}


/* - - - - - HEADER - - - - - */

header {
    margin: 0 0 -35px 0;
    height: 144px;
    position: relative;
    text-align: center;
    z-index: 100;
}

header a {
    display: inline-block;
    vertical-align: top;
}

#icon-email {
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/icon-email.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

#icon-fb {
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/icon-fb.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

#icon-mobile {
    width: 200px;
    height: 40px;
    padding: 7px 0 0 50px;
    background-image: url("../img/icons/icon-mobile.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    font-family: 'MyriadPro-Regular', sans-serrif;
}

#icon-mobile > span {
    display: none;
}

header #icon-email, #icon-fb, #icon-mobile {
    display: none;
}

.mobile-social {
    width: 100%;
    position: absolute;
    bottom: 35px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 4;
}

.mobile-social #icon-email, .mobile-social #icon-fb, .mobile-social #icon-mobile {
    width: 40px;
    display: inline-block;
    margin: 0 20px 0 0;
}

.mobile-social #icon-mobile {
    margin: 0;
    padding: 0;
}

header #btn-get-the-app {
    transform: translateX(-50%);
}

header #btn-get-the-app {
    position: absolute;
    left: 50%;
}

header #want-bus-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

header #want-bus-logo img {
    width: 120px;
    height: 86px;
}

header #btn-get-the-app {
    width: 160px;
    height: 40px;
    margin: 234px 0 0 0;
    padding: 6px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(0, 31, 71);
    border-radius: 50px;
    text-align: center;
    font-family: MyriadPro-regular;
    line-height: 27px;
    transition: 300ms ease;
}

header #btn-get-the-app:active {
    transform: translateX(-50%) scale(.8);
    -webkit-transform: translateX(-50%) scale(.8);
    -moz-transform: translateX(-50%) scale(.8);
    -ms-transform: translateX(-50%) scale(.8);
    -o-transform: translateX(-50%) scale(.8);
}

@media(min-width: 1024px) {
    header {
        margin: 0 0 62px;
        text-align: left;
    }

    header #icon-mobile > span {
        display: inline-block;
    }

    header #icon-email, #icon-fb, #icon-mobile {
        display: inline-block;
        margin: 0 20px 0 0;
        position: relative;
        left: 0;
        transform: none;
    }

    .mobile-social #icon-email, .mobile-social #icon-fb, .mobile-social #icon-mobile {
        display: none;
    }

    header #want-bus-logo img {
        width: 200px;
        height: 144px;
    }

    header #btn-get-the-app {
        margin: 0;
        right: 0;
        left: auto;
        transform: none;
    }

    header #btn-get-the-app:active {
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
    }
}

@media(min-width: 1366px) {
    header #icon-email, #icon-fb, #icon-mobile {
        margin: 0 20px 0 0;
    }
}

/* - - - - - FOOTER - - - - - */

#footer {
    padding: 115px 0 40px;
    position: relative;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
}

#footer #footer-address-box {
    width: 280px;
    height: 262px;
    padding: 40px 20px;
    position: absolute;
    left: 50%;
    top: -180px;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-image: url("../img/footer-address-bg(no-shadow).png");
    background-size: cover;
    box-shadow: 0 0 6px 0 rgba(51, 51, 51, 0.25);
    border-radius: 17px;
}

#footer #footer-want-bus-logo {
    width: 120px;
    margin: 0 0 2px 0;
}

#footer #footer-address {
    margin: 18px 0 0 0;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
}

#footer #footer-address-bar-separator {
    margin: 0 12px;
}

#footer #footer-copyright {
    margin: 0 0 14px 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

#footer-copyright span {
    display: block;
}

#footer #footer-menu {
    text-align: center;
    line-height: 17px;
}

#footer #footer-menu a {
    position: relative;
    padding: 0 3px;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

#footer #footer-menu a:after {
    width: 1px;
    height: 9px;
    content: "";
    position: absolute;
    right: -4px;
    top: 4px;
    background-color: rgb(255, 255, 255);
}

#footer #footer-menu a:last-child:after {
    display: none;
}

#footer #footer-menu a:nth-child(3)::after {
    display: none;
}

#footer-address > a {
    color: #006ab4;
}

@media (min-width: 1024px) {
    #footer {
        height: 400px;
        padding: 245px 0 0 0;
    }

    #footer #footer-address-box {
        width: 560px;
        height: 350px;
        padding: 51px 0 0 0;
    }

    #footer #footer-want-bus-logo {
        margin: 0 0 32px 0;
        width: 200px;
        height: 144px; 
    }

    #footer #footer-address {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    }

    #footer-copyright span {
        display: none;
    }

    #footer #footer-menu a {
        padding: 0 18px;
        font-size: 18px;
        letter-spacing: .1px;
    }

    #footer #footer-menu a:after {
        height: 17px;
        right: 0;
        top: 2px;
    }

    #footer #footer-menu a:nth-child(3)::after {
        display: block;
    }

    #footer #footer-want-bus-logo {
        margin: 0 0 32px 0;
        width: 200px;
        height: 144px; 
    }

    #footer #footer-copyright {
        margin: 0 0 30px 0;
        font-size: 18px;
        line-height: normal;
        letter-spacing: .1px;
    }

    #footer #footer-menu {
        line-height: 27px;
    }
}

/* PopUp */

#copyright-modal.modal-wrap, #terms-and-conditions-modal.modal-wrap, #privacy-policy-modal.modal-wrap,
#software-licenses-modal.modal-wrap, #google-map-licenses-modal.modal-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(255,255,255);
    background-color: rgb(0, 106, 180);
    border-radius: 0;
    transition: all 250ms ease 0s;
    transform: translateX(-50%) scale(0);
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    z-index: 7;
    opacity: 0;
}

#copyright-modal.active, #terms-and-conditions-modal.active, #privacy-policy-modal.active, #software-licenses-modal.active,
#google-map-licenses-modal.active {
    /*display: inline-block;*/
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}

#copyright-modal h3, #terms-and-conditions-modal h3, #privacy-policy-modal h3, #software-licenses-modal h3,
#google-map-licenses-modal h3 {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

#copyright-modal p, #terms-and-conditions-modal p, #privacy-policy-modal p, #software-licenses-modal p,
#google-map-licenses-modal p {
    width: 100%;
    margin: 0 auto 10px;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
}

#copyright-modal p:last-child,
#terms-and-conditions-modal p:last-child,
#privacy-policy-modal p:last-child,
#software-licenses-modal p:last-child,
#google-map-licenses-modal p:last-child {
    margin: 0 auto 40px;
}

#copyright-modal ol, #terms-and-conditions-modal ol, #privacy-policy-modal ol, #software-licenses-modal ol,
#google-map-licenses-modal ol {
    width: 100%;
    margin: 0 auto 10px;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
}

.footer-modal-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/icons/modal-close.svg");
    background-position: center center;
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    font-size: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media(min-width: 768px) {

    footer {
        background-position: center -390px;
    }

    #copyright-modal h3, #terms-and-conditions-modal h3, #privacy-policy-modal h3, #software-licenses-modal h3,
    #google-map-licenses-modal h3 {
        text-align: left;
    }
}

/*===== Default modal =====*/
.modal-head {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    background-color: rgb(0, 106, 180);
    text-align: center;
}

.modal-body {
    height: 100%;
    margin: 0 0 40px;
    padding: 96px 20px 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.footer-modal-close {
    right: 20px;
}

@media(min-width:768px) {
    .modal-head {
        width: 100%;
    }

    .modal-body {
        width: 100%;
        margin: 0 auto 40px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .footer-modal-close {
        right: 20px;
    }
}


@media(min-width: 1024px) {

    /*===== Default modal =====*/
    .modal-head {
        width: calc(100% - 20px);
        height: 96px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 20px;
        background-color: rgb(0, 106, 180);
        text-align: center;
    }

    .modal-body {
        padding: 96px calc(50% - 392px) 40px;
    }

    footer {
        padding-top: 86px;
        text-align: left;
    }

    .footer-top {
        margin-bottom: 246px;
    }

    footer .main-logo {
        margin-bottom: 0;
    }

    .footer-top h4 {
        margin-bottom: 28px;
        padding-left: 40px;
        background-position: left 4px;
    }

    .find-us {
        margin-bottom: 0;
    }

    .contact-us {
        margin-bottom: 0;
    }

    .find-us {
        width: 180px;
        display: inline-block;
        margin-left: 76px;
        vertical-align: top;
    }

    .contact-us {
        display: inline-block;
        margin-left: 36px;
        vertical-align: top;
    }

    .social-links {
        position: absolute;
        top: 14px;
        right: 20px;
    }

    #copyright-modal ol, #terms-and-conditions-modal ol, #privacy-policy-modal ol, #software-licenses-modal ol, #google-map-licenses-modal ol {
        width: 768px !important;
    }

    #copyright-modal h3, #terms-and-conditions-modal h3, #privacy-policy-modal h3,
    #software-licenses-modal h3, #google-map-licenses-modal h3 {
        width: 768px;
    }

    .footer-modal-close {
        right: 40px;
    }
}

/*Select 2*/
.select2-container {
    margin: 0 0 20px;
}

.select2-selection.select2-selection--single {
    height: 50px;
    padding: 6px 15px;
    font-size: 14px;
    text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
    color: rgb(0, 31, 71);
    font-family: "Montserrat-Regular",sans-serrif;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 8px;
    height: 14px;
    top: 20px;
    right: 18px;
    background-image: url("../img/icons/icon-dropdown.svg");
    background-repeat: no-repeat;
    background-size: 8px 14px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-selection.select2-selection--single {
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.75) inset;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: rgb(0, 31, 71);
}

/* Dropdown */
.select2-results__option {
    padding: 12px 15px;
    font-family: "Montserrat-Regular",sans-serrif;
    font-size: 16px;
}

.select2-search--dropdown {
    display: none;
    padding: 0;
    height: 50px;
    font-family: "Montserrat-Regular", sans-serrif;
    font-size: 16px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(0, 106, 180);
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}




/** animated boxes **/

.animBlock {
    display: inline-block;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    transition: all 300ms linear;
}

.animBlock[data-position="left"] {
    left: 38% !important;
}

.animBlock[data-position="right"] {
    right: 32% !important;
}

.animBlock[data-position="left"].viewed {
    left: 0 !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.animBlock[data-position="right"].viewed {
    right: 0 !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.animBlock[data-position="left"].viewed:hover {
    left: 2% !important;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 300ms linear !important;
}

.animBlock[data-position="right"].viewed:hover {
    right: 2% !important;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 300ms linear !important;
}



.relative-wrapper{
    position: relative;
}

/*
.pixel {
    left: 50%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 999;
}*/
