/* - - - - - SECTIONS - - - - - */

/* - - - - - SECTION 1 - BANNER - - - - - */

#section1-banner {
	height: 414px;
	padding: 40px 0 0 0;
	position: relative;
	display: block !important;
	overflow: hidden;
	z-index: 0;
	
}

#cityscape {
    width: 560px;
    display: block !important;
	position: absolute;
	bottom: 0;
	left: 50% !important;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	z-index: 1;
}

#section1-busses {
	position: absolute;
	top: -132px;
	left: 50%;
	display: none;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	z-index: 3;
}

#title-text {
	position: relative;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	z-index: 2;
}

.bg-landscape {
    height: 1020px;
    display: block;
    position: absolute;
    top: 27.5%;
    overflow: hidden;
}

@media (min-width: 1024px) {
	#section1-banner {
		height: 800px;
	}
	#section1-busses {
		display: inherit;
	}
	#title-text {
		position: relative;
		text-align: center;
		font-size: 48px;
    	line-height: 72px;
		z-index: 2;
	}
    #cityscape {
        width: auto;
    }
}

@media (min-width: 1366px) {
	#section1-banner {
		height: 800px;
		padding: 100px 0 0 0;
		position: relative;
		display: block !important;
		overflow: hidden;
		z-index: 0;
		
	}
	#title-text {
		position: relative;
		text-align: center;
		font-size: 48px;
    	line-height: 72px;
		z-index: 2;
	}
}



/* - - - - - SECTION 2 - WORKING STEPS - - - - - */


/* Fixes */
#large-screen-1024 {
	display: none;
}

#small-screen-320 {
	text-align: center;
}

.step-contents {
	display: none;
}

.step-contents h2 {
	font-size: 24px;
	padding: 17px 0 8px 0;
}

.step-contents p {
	font-size: 14px;
	line-height: 21px;
}

.step-contents.current {
	display: inherit;
}

.step-contents.current h2, .step-contents.current p {
	color: rgb(0,106,180);
}

#step1.screen320 .step-title,
#step2.screen320 .step-title,
#step3.screen320 .step-title,
#step4.screen320 .step-title {
	display: none;
}
#step1.screen320 .step-description,
#step2.screen320 .step-description,
#step3.screen320 .step-description,
#step4.screen320 .step-description {
	display: none;
}
#step1.screen320.active .step-title,
#step2.screen320.active .step-title,
#step3.screen320.active .step-title,
#step4.screen320.active .step-title {
	/*display: inherit;*/
	display: none;
}
#step1.screen320.active .step-description,
#step2.screen320.active .step-description,
#step3.screen320.active .step-description,
#step4.screen320.active .step-description {
	/*display: inherit;*/
	display: none;
}

#section2-working-steps {
	height: 868px;
	position: relative;
    padding: 40px 0;
	background-color: rgb(255,255,255);
	z-index: 1;
}

#section2-working-steps #section2-container {
	position: relative;
}

#section2-working-steps #section2-container .slider-navigation {
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
}

#section2-working-steps #section2-container a.slider-navigation {
    /*display: none;*/
}

#small-screen-320 a .svg{
	width: 63px;
	height: 60px;
}

#small-screen-320 a:last-child .svg{
	width: 40px;
	height: 60px;
}

#small-screen-320 a.current-pin .svg path{
	fill: #006ab4;
}

#small-screen-320 a .svg path{
	fill: #cccccc;
}


@media (min-width: 1024px) {
    /* Fixes */
	#large-screen-1024 {
		display: inherit;
	}
	#small-screen-320 {
		display: none;
	}

	#step1.screen320 .step-title, #step2.screen320 .step-title, #step3.screen320 .step-title, #step4.screen320 .step-title {
		display: inherit;
	}
	#step1.screen320 .step-description, #step2.screen320 .step-description, #step3.screen320 .step-description, #step4.screen320 .step-description {
		display: inherit;
	}
	#step1.screen320.active .step-title, #step2.screen320.active .step-title, #step3.screen320.active .step-title, #step4.screen320.active .step-title {
		display: inherit;
	}
	#step1.screen320.active .step-description, #step2.screen320.active .step-description, #step3.screen320.active .step-description, #step4.screen320.active .step-description {
		display: inherit;
	}

	#section2-working-steps {
        height: 900px;
        padding: 0;
    }

    #step1 {
    	position: absolute;
    	left: 0;
    	top: 94px;
    }
    #step2 {
    	position: absolute;
    	left: 0;
    	top: 360px;
    }
    #step3 {
    	position: absolute;
    	right: 0;
    	top: 94px;
    }
    #step4 {
    	position: absolute;
    	right: 0;
    	top: 360px;
    }
    #section2-working-steps .viewed .svg path{
    	transition: fill 300ms ease;
    	fill: #cccccc;
        transition: fill 300ms ease;
    }

    #section2-working-steps .viewed.active .svg path{
    	fill: #006ab4;
    }

    #section2-working-steps .svg{
    	width: 78px;
    	height: 114px;
    	position: absolute;
    	left: 0;
    	top: 0;
    }

    #section2-working-steps .viewed.right-side .svg{
    	left: auto;
    	right: 0;
    }

	#section2-working-steps #section2-container .slider-navigation {
		width: 248px;
	}
	
    #section2-working-steps #section2-container a.slider-navigation {
        display: inline-block;
    }

}

@media (min-width: 1366px) {
	#section2-working-steps #section2-container .slider-navigation {
		width: 407px;
	}
	#section2-working-steps #step1 {
		top: 130px;
		left: 0;
	}

	#section2-working-steps #step2 {
		top: 329px;
		left: 0;
	}

	#section2-working-steps #step3 {
		top: 130px;
		right: 0;
	}

	#section2-working-steps #step4 {
		top: 329px;
		right: 0;
	}
	#section2-working-steps #step1:hover {
		left: 30px;
	}
	#section2-working-steps #step2:hover {
		left: 30px;
	}
	#section2-working-steps #step3:hover {
		right: 30px;
	}
	#section2-working-steps #step4:hover {
		right: 30px;
	}
	#section2-working-steps .viewed:hover .svg path,
    #section2-working-steps .viewed.active .svg path{
    	fill: #006ab4;
    }
}


/* left and right common */
#section2-working-steps #section2-container .slider-navigation img {
	position: absolute;
	top: 0;
}

.step-title {
	margin: 0 0 6px 0;
	padding: 25px 0 8px 76px;
	position: relative;
	line-height: 30px;
}

.slider-navigation a.active .step-title::after {
	background-color: #006ab4;
}

.step-title-text {
	font-size: 24px;
}

#section2-working-steps #section2-container .slider-navigation .step-info .step-description {
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.step-info {
	top
}
/* Left Side */
#section2-working-steps .left-side img {
	left: 0;
}
#section2-working-steps .left-side .step-info {
	padding: 74px 0 0 0;
}
#section2-working-steps .left-side .step-info .step-title {
	padding: 0; /* starting-point = 57, + 19px */
	text-align: center;
}
#section2-working-steps .left-side .step-info .step-description {
	padding: 0;
	text-align: center;
}

@media (min-width: 1024px) {
	.step-title::after {
		background-color: #cccccc;
		bottom: -2px;
		content: "";
		height: 2px;
		position: absolute;
		right: 0;
		width: calc(100% - 44px);
		transition: 300ms all;
	}

	#section2-working-steps .left-side .step-info {
		padding:  0 0 0 20px;
		text-align: left;
	}
	#section2-working-steps .left-side .step-info .step-title {
		padding: 25px 0 8px 76px;
		text-align: left;
		line-height: 30px;
	}
	#section2-working-steps .left-side .step-info .step-description {
		padding: 16px 7px 0 76px;
		text-align: left;
	}

	#section2-working-steps .left-side .step-info .step-title .step-title-text {
		margin: -22px 0 0 0;
		padding: 0;
		display: inline-block;
	}
	#section2-working-steps #section2-container .slider-navigation .step-info .step-description {
		display: inline-block;
	}
}
@media (min-width: 1366px) {
	#section2-working-steps .left-side .step-info .step-title .step-title-text {
		padding: 0;
		display: inline-block;
	}
	.slider-navigation a.active .step-title::after,
	.slider-navigation a:hover .step-title::after {
		background-color: #006ab4;
	}
}
/* End of Left Side */


/* Right Side */
.right-side img {
	position: absolute;
	right: 0;
	top: 0;
}
.right-side .step-info {
	padding: 74px 0 0 0;
	text-align: center;
}

.right-side .step-title {
	padding: 0;
}
/*.right-side .step-title::after {
  background-color: #cccccc;
  bottom: -2px;
  content: "";
  height: 2px;
  position: absolute;
  right: auto;
  left: 0;
  width: calc(100% - 44px);
}*/
#section2-working-steps .right-side .step-info .step-title .step-title-text {
	padding: 0;
	display: inline-block;
	font-size: 24px;
}
#section2-working-steps .right-side .step-info .step-description {
	padding: 0;
	text-align: center;
}

@media (min-width: 1024px) {
	.right-side .step-info {
		padding: 0 20px 0 0;
		text-align: right;
	}
	.right-side .step-title {
		padding: 25px 76px 8px 0;
	}
	.right-side .step-title::after {
	  background-color: #cccccc;
	  bottom: -2px;
	  content: "";
	  height: 2px;
	  position: absolute;
	  right: auto;
	  left: 0;
	  width: calc(100% - 44px);
	}
	#section2-working-steps .right-side .step-info .step-title .step-title-text {
		margin: -22px 0 0 0;
	}
	#section2-working-steps .right-side .step-info .step-description {
		padding: 14px 76px 0 0;
		text-align: right;
	}
}
@media (min-width: 1366px) {
	
}
/* End of Right Side */


#section2-working-steps a {
	color: #cccccc;
}
/*#section2-working-steps a:hover {
	color: #006ab4;
}*/
#section2-working-steps a.active {
	color: #006ab4;
}

/*Master Slider*/

.ms-phone-template .ms-phone-bg {
	max-width: none;
	width: 100%;
}
.ms-phone-template .ms-phone-cont {
	max-width: 431px;
	width: 100%;
}
#ms-phone-cont {
	position: absolute;
	top: 212px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.ms-phone-template .ms-lt-slider-cont {
	max-width: none;
	padding: 71px 18px;
}

.ms-phone-template .ms-bullets.ms-dir-h {
	width: 241px !important;
	bottom: -230px;
	display: none;
}


.ms-phone-template .ms-bullet {
	width: 20px;
	height: 20px;
	margin: 5px 20px !important;
}

/* iPhone */
@media(min-width: 1024px) {
	.ms-phone-template .ms-phone-cont {
	}

	#ms-phone-cont {
		top: 0;
	}
	.ms-phone-template .ms-lt-slider-cont {
		padding: 107px 29px;
	}

	#ms-phone-cont {
		top: -185px;
	}
	.ms-phone-template .ms-bullets.ms-dir-h {
		display: inline-block;
	}
}

@media(min-width: 1366px) {
	#section2-working-steps a:hover {
		color: #006ab4;
	}
}



/* - - - - - SECTION 3 - OWNER REGISTRATION - - - - - */

#section3-owner-registration {
	padding: 34px 0 40px;
	position: relative;
	background-image: url("../img/section3-bg-1.jpg");
    background-size: 2560px 1100px;
	background-repeat: no-repeat;
	background-position: center bottom;
	overflow: hidden;
}

#section3-owner-registration::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background-color: rgba(0, 106, 180, 0.8);
}

.success::after,.server-error::after {
	display: none;
}

#section3-owner-registration.success, #section3-owner-registration.server-error {
	padding: 289px 0;
	text-align: center;
	background-color: rgb(0, 31, 71);
	background-image: none;
    transition: 300ms ease;
}

#section3-owner-registration .container .normal {
	position: relative;
	/*display: none;*/
	z-index: 2;
}
#section3-owner-registration .container .success {
	position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 300ms ease 0s;
}

#section3-owner-registration.success .container .success {
    opacity: 1;
}


#section3-owner-registration .container .server-error {
	position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 300ms ease 0s;
}

#section3-owner-registration.server-error .container .server-error {
    opacity: 1;
}

#section3-owner-registration .server-error #form-success-button {
	width: 200px;
	height: 50px;
	display: inline-block;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 16px;
	text-align: center;
	border-radius: 50px;
	border: none;
	color: rgb(0, 31, 71);
	background-color: rgb(255,255,255);
    cursor: pointer;
}

#section3-owner-registration h2, p {
	text-align: center;
}

#section3-owner-registration h2 {
	margin: 0 0 9px 0;
	font-size: 20px;
}

#section3-owner-registration p {
	margin: 0 0 28px 0;
	font-size: 14px;
	line-height: 21px;
}

#section3-owner-registration #owner-registration-form {
	width: 100%;
	margin: 0 auto;
}

#section3-owner-registration #owner-registration-form .column1,
#section3-owner-registration #owner-registration-form .column2  {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

#section3-owner-registration #owner-registration-form #type-of-partnerships {
	width: 100%;
	height: 50px;
	padding: 5px 15px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(219, 219, 219);
	border-radius: 5px;
	box-sizing: border-box;
}


/* Input Placeholder Styling */

::-webkit-select-placeholder { /* Chrome/Opera/Safari */
  color: #aaaaaa;
  font-family: "Montserrat-Regular", sans-serrif;
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaaaaa;
  font-family: "Montserrat-Regular", sans-serrif;
  font-size: 16px;
}
:-ms-select-placeholder { /* IE 10+ */
  color: #aaaaaa;
  font-family: "Montserrat-Regular", sans-serrif;
  font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaaaaa;
  font-family: "Montserrat-Regular", sans-serrif;
  font-size: 16px;
}

/* Input Placeholder Styling */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaaaaa;
  font-family: "Montserrat-Regular", sans-serrif;
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaaaaa;
  font-family: "Montserrat-Regular", sans-serrif;
  font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaaaaa;
  font-family: "Montserrat-Regular", sans-serrif;
  font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaaaaa;
  font-family: "Montserrat-Regular", sans-serrif;
  font-size: 16px;
}
#owner-registration-form .column1 #mobile-number, #owner-registration-form .column2 #website {
  margin: 0 0 20px;
}

#section3-owner-registration #owner-registration-form select {
	width: 100%;
	height: 50px;
	padding: 5px 15px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(219, 219, 219);
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.75) inset;
}

#section3-owner-registration #owner-registration-form input {
	width: 100%;
	height: 50px;
	margin: 0 0 20px;
	padding: 5px 15px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(219, 219, 219);
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.75) inset;
    color: rgb(0, 31, 71);
	font-family: "Montserrat-Regular", sans-serrif;
	font-size: 16px;
    letter-spacing: 0.2px;
}

#section3-owner-registration #owner-registration-form .column2 span.error {
	left: 0;
}

.error {
	width: 100%;
	height: 50px;
	padding: 5px 15px;
	display: none;
	position: absolute;
	left: 0;
	color: rgb(0, 106, 180);
	text-align: left;
	line-height: 39px;
	background-color: rgb(255, 255, 255);
	font-family: "Montserrat-Regular", sans-serrif;
	font-size: 16px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 5px;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.75) inset;
	text-transform: capitalize;
	top:0;
}

#section3-owner-registration #owner-registration-form #owner-registration-form-btn {
	width: 100%;
	height: 50px;
	display: inline-block;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 16px;
	text-align: center;
	border-radius: 50px;
	border: none;
	background-color: rgb(0, 31, 71);
	cursor: pointer;
	transition: 300ms ease;
	text-transform: capitalize;
}

#section3-owner-registration #owner-registration-form #owner-registration-form-btn:active {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.frm-err {
	display: none;
}
.frm-err.shown {
	width: 100%;
	margin: 20px 0;
	display: inline-block;
	text-align: center;
	color: rgb(255,255,255);
	font-size: 16px;
}

#section3-owner-registration .success #form-success-button {
	width: 200px;
	height: 50px;
	display: inline-block;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 16px;
	text-align: center;
	border-radius: 50px;
	border: none;
	color: rgb(0, 31, 71);
	background-color: rgb(255,255,255);
    cursor: pointer;
}

@media (min-width: 1024px) {
	#section3-owner-registration {
		height: 900px;
		padding: 108px 0 0;
	}

	#section3-owner-registration h2 {
		margin: 0 0 55px 0;
		font-size: 48px;
	}
	#section3-owner-registration p {
        width: 781px;
		margin: 0 auto 73px;
		font-size: 24px;
		line-height: 36px;
	}
	#section3-owner-registration #owner-registration-form {
		width: 680px;
	}
	#section3-owner-registration #owner-registration-form .column1 {
		padding: 0 20px 0 0;
	}

	#section3-owner-registration #owner-registration-form .column2 {
		padding: 0 0 0 20px;
	}

	#section3-owner-registration #owner-registration-form .column1,
	#section3-owner-registration #owner-registration-form .column2  {
		width: 50%;

	}

	#owner-registration-form .column1 #mobile-number, #owner-registration-form .column2 #website {
		margin: 0 0 29px;
	}
}


/* - - - - - SECTION 4 - APP DOWNLOAD - - - - - */

#section4-app-download {
	height: 541px;
	padding: 31px 0 0;
	position: relative;
	text-align: center;
	background-image: url("../img/section4-bg.jpg");
	background-repeat: no-repeat;
	background-size: 2560px auto;
	background-position-x: center !important;
}

#section4-app-download #download-the-app {
	margin: 0 0 39px;
	font-size: 24px;
}

#section4-app-download #btn-app-store {
	width: 260px;
	height: 80px;
	margin: 0 auto 15px;
	display: inline-block;
	background-image: url("../img/icons/icon-app-store.png");
	background-repeat: no-repeat;
	background-position: 17px 13px;
	background-color: #006ab4;
	border-radius: 8px;
	box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
}

#section4-app-download #btn-google-play {
	width: 260px;
	height: 80px;
	display: inline-block;
    margin: 0;
	background-image: url("../img/icons/icon-google-play.png");
	background-repeat: no-repeat;
	background-position: 17px 15px;
	background-color: #006ab4;
	border-radius: 8px;
	box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.25);
}

@media(min-width: 0) and (max-width: 1023px) {
    #section4-app-download {
        background-position-y: -240px;
    }
}

@media (min-width: 1024px) {
	#section4-app-download {
		height: 800px;
		padding: 107px 0 0;
	}
	#section4-app-download #btn-app-store {
		margin: 0 35px 0 0;
	}
	#section4-app-download #download-the-app {
		margin: 0 0 75px;
		font-size: 48px;
	}
}